<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAy_iTFaNgvhclpkNKpXFisxN3sPH8HxnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1022472538599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDelieveryappPrerna.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fooddelievery-d2502</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelievery-d2502.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022472538599:ios:91a84859b5baffe3665542</string>
</dict>
</plist>